body {
    background-color: BurlyWood;
    font-family: serif;
    margin: 20px;
}

h1 {
    color: firebrick;
    text-align:center;
    font-style: oblique;
    font-weight: bold;
}

nav {
    border: 1px solid black;
    background-color: bisque;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:hover {
    background-color: white;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: auto;
    margin: auto;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
th {
    background-color: lightgray;
}
td {
    background-color: SeaShell;
}

/* Used code from: https://stackoverflow.com/questions/19323974/targeting-first-2-children-or-last-2-children
/* for center-aligning first two columns and headings but not last column of table */
th, tr td:nth-child(-n + 2) {
    text-align: center;
}

#bookList {
    border: 1px solid black;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: SeaShell;
}

#bookDetails {
    text-align: center;
}
