<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css") }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book</title>
    </head>
    <body>
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for("index") }}">| Home |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for("search") }}">| Search |</a>
                </li>
                {% if userInfo %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for("index") }}">| Register |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for("logout") }}">| Log Out |</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for("index") }}">| Log In / Register |</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div id=bookDetails>
            <h1>{{ book.title }}</h1>
            <h2>Author: {{ book.author }}</h2>
            <h2>Publication Year: {{ book.year }}</h2>
            <h2>ISBN: {{ book.isbn }}</h2>
        </div>
        {% if userReviews %}
            <div class="userReviews">
                <h4 style="text-align:center;font-style:italic">Member Reviews</h4>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Rating</th>
                        <th>Comment</th>
                    </tr>
                    {% for review in userReviews %}
                        <tr>
                            <td>{{ review.username }}</td>
                            <td>{{ review.rating }}</td>
                            <td>{{ review.comment }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="userReviews">
                <h4 style="text-align:center;font-style:italic">Member Reviews</h4>
                <p style="text-align:center">Be the first to review this book.</p>
            </div>
        {% endif %}
        {% if userInfo %}
            <h5 class="greeting">Hello, {{ userInfo.username }}!</h5>
        {% endif %}
        <div id="reviewForm">
            <h6>Rate the book from 1 (bad) to 5 (excellent):</h6>
            <form action="{{ url_for("book", bookId=book.id) }}" method="post">
                <div id="ratingButtons">
                    <input type="radio" name="rating" value="1"> 1
                    <input type="radio" name="rating" value="2"> 2
                    <input type="radio" name="rating" value="3"> 3
                    <input type="radio" name="rating" value="4"> 4
                    <input type="radio" name="rating" value="5"> 5
                </div>
                <textarea name="comment" rows="9" cols="70" placeholder="Comment on the Book Here"></textarea>
                <button>Submit Review</button>
            </form>
        </div>
        {% if goodReadsData %}
            <div class="goodreadsReviews">
                <h4 style="text-align:center;font-style:italic">Goodreads Reviews</h4>
                <table>
                    <tr>
                        <th>Number of Ratings</th>
                        <th>Average Rating</th>
                    </tr>
                    <tr>
                        <td>{{ goodReadsData["books"][0]["work_ratings_count"] }}</td>
                        <td>{{ goodReadsData["books"][0]["average_rating"] }}</td>
                    </tr>
                </table>
            </div>
        {% else %}
            <div class="goodreadsReviews">
                <h4 style="text-align:center;font-style:italic">Goodreads Reviews</h4>
                <p style="text-align:center">No Goodreads reviews found for this book.</p>
            </div>
        {% endif %}
        <div class="notes">
            <h6 style="font-style:italic">Notes:</h6>
            <ul>
                <li>To use the ISBN API to find JSON book information, type ".../api/[isbn_number]" into the URL.</li>
            <ul>
        </div>
    </body>
</html>
