<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css") }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books</title>
    </head>
    <body>
        <!-- Using a Bootstrap component for navigation -->
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for("search") }}">| Search |</a>
                </li>
                {% if userInfo %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for("logout") }}">| Log Out |</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <h1>Welcome</h1>
        {% if userInfo %}
            <h5 class="greeting">Hello, {{ userInfo.username }}!</h5>
        {% endif %}
        <div id="loginAndRegForm">
            {% if userInfo %}
                <h6>Register another username:</h6>
            {% else %}
                <h6>Please sign in or register an account:</h6>
            {% endif %}
            {% if not userInfo %}
                <form id="loginForm" action="{{ url_for("login") }}" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <button>Log In</button>
                </form>
            {% endif %}
            <form id="registrationForm" action="{{ url_for("registration") }}" method="post">
                <input type="text" name="name" placeholder="Enter Your Name">
                <input type="text" name="username" placeholder="Enter Your Username">
                <input type="password" name="password" placeholder="Enter Your Password">
                <button>Register Account</button>
            </form>
        </div>
        <div class="notes">
            <h6 style="text-decoration:underline">Notes</h6>
            <ul>
                <li>To use the ISBN API to find JSON book information, type ".../api/[isbn_number]" into the URL.</li>
            <ul>
        </div>
    </body>
</html>
